<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<h1>Hello World Thymeleaf</h1>
<br>
<a th:href="@{/login}">Login</a>
<br>
<a th:href="@{/registration}">Registration</a>
</body>
</html>