<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>User Registration Form</h1>
<form action="#" th:action="@{/registration}" th:object="${user}" method="POST">
  <div>
    <label>First Name</label>
    <input th:field="*{firstName}"/>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</p>
  </div>
  <div>
    <label>Last Name</label>
    <input th:field="*{lastName}"/>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</p>
  </div>
  <div>
    <label>Email</label>
    <input type="email" th:field="*{email}"/>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
  </div>
  <div>
    <label>Password</label>
    <input type="password" th:field="*{password}"/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
  </div>
  <button type="submit">submit</button>
</form>

<a th:href="@{/}">Home</a>
</body>
</html>